* {
    transition: all 0.2s ease-in-out;
}

body {
    background: linear-gradient(#C6EA8D, #FE90AF);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/* Card */

.card {
    background: linear-gradient(#A9F1DF, #FFBBBB);
    /* border-radius: 5px; */
    height: 80vh;
    width: 75vw;
    box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
}

.card {
    border-left: 5px solid;
    border-right: 5px solid;
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-image: linear-gradient(#252cf8, #1BFFFF);
    border-image-slice: 1;
    transition: all .5s;
}

.card:hover {
    transform: scale(1);
    box-shadow: 0px 30px 40px -25px cyan;
}


/* IMAGE */

.image {
    max-height: 30vh;
    margin-top: 50px;
}


/* Text */

.text {
    margin-top: -25px;
    padding: 1em;
    /* font-family: 'Caramel', cursive; */
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.wish {
    /* font-family: 'Caramel', cursive; */
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: larger;
}

.wisher {
    font-family: 'Caramel', cursive;
    font-size: x-large;
}


/* @Media */

@media only screen and (min-width: 1000px) {
    .card {
        flex-direction: row-reverse;
    }
    .card img.image {
        width: 100%;
        max-width: 40vw;
        max-height: 80vh;
        margin-top: 0;
    }
}